{% extends 'base.html.twig' %}

{% block body %}
    <div class="main">
        <h1 class="main-title">Training Factory</h1>
        <div class="row">
            <ul class="main-menu">
                <div class="col-sm-4"><li class="main-menu-item"><a href="">Gedragsregels</a></li></div>
                <div class="col-sm-4"><li class="main-menu-item"><a href="">Les aanbod</a></li></div>
                <div class="col-sm-4"><li class="main-menu-item"><a href="">Contact</a></li></div>
                <div class="col-sm-4"><li class="main-menu-item"><a href="">Inloggen</a></li></div>
            </ul>
        </div>
        <h3 class="main-title-user">Welkom bezoeker!</h3>
    </div>
{% endblock %}

