{% extends 'base.html.twig' %}

{% block body %}
    <div class="main">
        <h1 class="main-title">Training Factory</h1>
        <div class="row">
            <ul class="main-menu">
                <div class="col-sm-4"><li class="main-menu-item"><a href="{{ path('gedragsregels') }}">Gedragsregels</a></li></div>
                <div class="col-sm-4"><li class="main-menu-item"><a href="">Les aanbod</a></li></div>
                <div class="col-sm-4"><li class="main-menu-item"><a href="">Contact</a></li></div>
                <div class="col-sm-4"><li class="main-menu-item"><a href="{{ path('registreren') }}">Lid worden</a></li></div>
                <div class="col-sm-4"><li class="main-menu-item"><a href="{{ path('login') }}">Inloggen</a></li></div>
            </ul>
        </div>
        <h3 class="main-title-user">Welkom bij Trainingscentrum Den Haag</h3>
        <p>
            Den Haag Trainingcenter is een sportschool waar onder professionele begeleiding in een veilige omgeving met verschillende soorten martial arts, indoor bootcamp, personal- en small group trainingen worden aangeboden.
        </p>
    </div>
{% endblock %}

